spring.application.name=medication-app

#Database Credentials
spring.datasource.url=jdbc:postgresql: Database URL
spring.datasource.username= Database username
spring.datasource.password= Database password

#JPA Settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show.sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

#SignatureForJWT
jwt.secret=YOUR_JWT_SECRET_KEY_HERE_AT_LEAST_64_CHARACTERS_LONG

# Gmail SMTP Configuration
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_EMAIL@gmail.com
spring.mail.password=YOUR_APP_PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

#Flyway Configuration
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration

#NodeMCU info
nodemcu.ip.address=esp32-sensor.local
